@font-face { 
    font-family: MorrisRomanBlack;
    src: url("Assets\\Fonts\\morris_roman\\MorrisRomanBlack.otf"); 
} 

*{
    font-family: MorrisRomanBlack;
    margin: 0;
    padding: 0;
    color: rgb(168, 168, 168);

}

body{
    background-color: black;
}

hr{
    border: solid 1px rgb(26, 26, 26);
}

a{
    text-decoration: none;
}

.large{
    font-size: 2rem;
}

.color-red{
    color: rgb(168, 0, 0);
}

h4, h2, h1{
    color: white;
}
/* 
max width 400
height 200
*/

img{
    object-fit: cover
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(26, 26, 26);
    position: sticky;
    top: 0px;
}

#brand{
    text-align: center;
}

#navbar a{
    margin: 10px;
}

header{
    margin-top: 20px;
    padding: 10px;
}

#bigAD{
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    padding: 0px;
}

#bigAD-description{
    height: 100%;
    width: 100%;
    padding: 5px;
    display: grid;
    align-content: space-between;
    grid-template-rows: 1fr 6fr 1fr;
}




main{
    display: grid;
    grid-template-columns: 1fr;
}

.lilAD{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    background-color: rgb(26, 26, 26);
}

.lilAD-description{
    height: 100%;
    width: 100%;
    padding: 5px;
    display: grid;
    text-align: justify;
    align-content: space-between;
    grid-template-rows: 1.5fr 6fr 1fr;
}

.lilAD-description p{
    height: 100%;
}


.lilAD img{
    width: 150px;
    height: 100%;
}

footer{
    background-color: rgb(26, 26, 26);
    text-align: center;
    padding: 40px;
    padding-bottom: 75px;
    margin-top: 75px;
}

footer section{
    display: flex;
    text-align: justify;
    margin-bottom: 50px;
    gap: 20px;
}

footer section p{
    width: 50%;
}

@media (min-width: 500px){
    html{
        font-size: 1.2rem;
    }
    
    #bigAD{
        flex-direction: row;
    }

    #bigAD img{
        width: 75%;
        height: 500px;
    }
    
    #bigAD-description{
        height: 490px;
        width: 100%;
        padding: 5px;
        display: grid;
        align-content: space-between;
        grid-template-rows: 1.5fr 6fr 0.4fr;
        font-size: larger;

    }

    #bigAD-description section{
        height: 100%;
    }

    main{
        grid-template-columns: 1fr 1fr;
        

    }

    .lilAD{
        width: fit-content;
    }
    
}
